{% sw_extends '@Storefront/storefront/page/account/profile/recover-password.html.twig' %}

{% block page_account_profile_recover_password_action_back %}
    <a href="{{ seoUrl('frontend.account.login') }}"
       class="account-recover-password-back btn btn-secondary"
       title="{{ 'general.back'|trans }}">
        {{ 'general.back'|trans }}
    </a>
{% endblock %}
