{% sw_extends '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig' %}

{% block cms_form_privacy_opt_in_title %}
    <div class="custom-control-title">{{ "general.privacyTitle"|trans }} {{ "general.required"|trans }}</div>
{% endblock %}
