{% sw_extends '@Storefront/storefront/component/review/point.html.twig' %}

{% block component_review_point %}
    {% if size is not defined %}
        {% set size = 'xs' %}
    {% endif %}

    <span class="product-review-point">
        {% if type == 'half' %}
            <div class="point-container">
                <div class="point-rating point-partial-placeholder">
                    {% sw_icon 'star-empty' style { 'color': 'light', 'size': size, 'pack': 'default' } %}
                </div>
                <div class="point-rating point-partial" style="clip-path: inset(0 {{ (1 - left) * 100 }}% 0 0)">
                    {% sw_icon 'star-filled' style { 'color': 'review', 'size': size, 'pack': 'default' } %}
                </div>
            </div>
        {% elseif type == 'blank' %}
            {% sw_icon 'star-empty' style { 'color': 'light', 'size': size, 'pack': 'default' } %}
        {% else %}
            {% sw_icon 'star-filled' style { 'color': 'review', 'size': size, 'pack': 'default' } %}
        {% endif %}
    </span>
{% endblock %}

