{% sw_extends '@Storefront/storefront/component/pagination.html.twig' %}

{% block component_pagination_first %}
    {% if theme_config('dmf-listing-pagination-last-first-enable') %}
        <li class="page-item page-first{% if currentPage == 1 %} disabled{% endif %}">
            {% block component_pagination_first_input %}
                <input type="radio" {% if currentPage == 1 %} disabled="disabled" {% endif %} name="p" id="p-first" value="1" class="d-none" title="pagination">
            {% endblock %}

            {% block component_pagination_first_label %}
                <label class="page-link" for="p-first">
                    {% block component_pagination_first_link %}
                        {% sw_icon 'arrow-medium-double-left' style { 'size': 'fluid', 'pack': 'solid'} %}
                    {% endblock %}
                </label>
            {% endblock %}
        </li>
    {% endif %}
{% endblock %}

{% block component_pagination_last %}
    {% if theme_config('dmf-listing-pagination-last-first-enable') %}
        <li class="page-item page-last{% if currentPage == totalPages %} disabled{% endif %}">
            {% block component_pagination_last_input %}
                <input type="radio" {% if currentPage == totalPages %} disabled="disabled" {% endif %} name="p" id="p-last" value="{{ totalPages }}" class="d-none" title="pagination">
            {% endblock %}
            {% block component_pagination_last_label %}
                <label class="page-link" for="p-last">
                    {% block component_pagination_last_link %}
                        {% block component_pagination_last_icon %}
                            {% sw_icon 'arrow-medium-double-right' style {
                                'size': 'fluid',
                                'pack': 'solid'
                            } %}
                        {% endblock %}
                    {% endblock %}
                </label>
            {% endblock %}
        </li>
    {% endif %}
{% endblock %}
